

:root {
    --grid-template-columns: ;
    --grid-template-rows: ;
   

}
#settings {
    text-align: center;

}

h1 {

    text-align: center;
}


.grid-container {
    display: grid;
    /*max-width: auto;
    max-height: auto; */
    background: #eeeeee;
    row-gap: 5px;
    column-gap: 5px; 
    padding-bottom: 25%;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto); 
    align-content: center;
    }

    .grid
    }
    .permanent-color {
        background-color: green !important;
        
            }
            
    .grid-item:hover {
        background-color: green !important;
    }


