
#settings {
    text-align: center;

}

.grid-container {
    height: auto;
    width: auto;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    /*
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    */
    background: #eeeeee;
    row-gap: 2.5px;
    column-gap: 2.5px;

    }

    #gridID {
;        

    }
    #title {

        text-align: center;
    }

    .permanent-color {
        background-color: green !important;
        
            }
            
    .grid-item:hover {
        background-color: green !important;
    }


/*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns
https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
*/